@model GameViewModel;
@using M426_TicTacToe.Models.ViewModels;
@using M426_TicTacToe.Enums;
@{
    ViewData["Title"] = "Game";
}
<link rel="stylesheet" href="~/css/GameDesign.css" />
<h1>Game was not found!</h1>
<a asp-area="" asp-controller="Game" asp-action="NewGame">Create a new Game</a>