@model GameViewModel;
@using M426_TicTacToe.Models.ViewModels;
@using M426_TicTacToe.Enums;
@{
    ViewData["Title"] = "Game";
}
<link rel="stylesheet" href="~/css/GameDesign.css" />

<a asp-area="" asp-controller="Game" asp-action="NewGame">New Game</a>